img{
    width: 100%;
    height: 100%;
}

.container-img{
    width: 100%;
    height: 10rem;
    background-color: white; 
}

.container{
    border: solid;
    border-color: rgb(15, 230, 238);
    background-color: aqua;
    width: 12rem;
    height: 24rem;
    margin-top: 2rem;

}